@inherits Dialog

<Dialog Id="@DialogId.Rename" Title="Name Session">
    <BodyContent>
        <label class="flex-child-text" for="@Id-name">Name:</label>
        <div class="flex-fill">
            <input id="@Id-name" type="text" @bind="@SessionName"/>
        </div>
    </BodyContent>
    <FooterContent>
        <FlexSpacer/>
        <div class="dialog-buttons">
            <button type="button" @ref="@_confirmButton" @onclick="@OnOkPressed" class="highlight">OK</button>
            <button type="button" @onclick="@OnCancelPressed" class="highlight">Cancel</button>
        </div>
    </FooterContent>
</Dialog>

@code
{
    #region Data Members

    private ElementReference _confirmButton;

    #endregion

    #region Properties

    public string? SessionName { get; set; }

    private bool NeverAskForName { get; set; } = false;

    #endregion

    #region Overrides

    protected override object? GetDialogResult()
    {
        // ReSharper disable once HeapView.BoxingAllocation
        return new NameSessionResult
        {
            Name = SessionName
        };
    }

    protected override async void OnAfterRender(bool firstRender)
    {
        await _confirmButton.FocusAsync();
    }

    #endregion

    #region Embedded Classes

    public struct NameSessionResult
    {
        public string? Name;
    }

    #endregion
    
    #region Event Handlers

    private async void OnOkPressed()
    {
        await CloseModal(true);
    }

    private async void OnCancelPressed()
    {
        await CancelDialog();
    }

    #endregion
}
