@inherits Dialog

<Dialog Id="save-modal" Title="Save Session" Opened="@Opened" ModalResultCallback="@ModalResultCallback">
    <BodyContent>
        <label class="flex-child-text" for="@Id-name">Name:</label>
        <div class="flex-fill">
            <input id="@Id-name" type="text" @bind="@SessionName"/>
        </div>
    </BodyContent>
    <FooterContent>
        <div class="flex-child-text">
            <input id="@Id-never-ask" type="checkbox" @bind="@NeverAskForName"/>
            <label for="@Id-never-ask">
                @(HtmlEntity.NON_BREAKING_SPACE)
                <a class="nostyle clickonly" onclick="@OnNameClick">
                    Never ask for name
                </a>
            </label>
        </div>
        <FlexSpacer/>
        <div class="dialog-buttons">
            <button @ref="@_confirmButton" onclick="@OnOkPressed" class="highlight">OK</button>
            <button onclick="@OnCancelPressed" class="highlight">Cancel</button>
        </div>
    </FooterContent>
</Dialog>

@code
{
    public string? SessionName { get; set; }

    private bool NeverAskForName { get; set; } = false;

    private ElementReference _confirmButton = default!;
    
    public struct SaveSessionResult
    {
        public string? Name;
        public bool NeverAskForName;
    }

    protected override object? GetDialogResult()
    {
        // ReSharper disable once HeapView.BoxingAllocation
        return new SaveSessionResult
        {
            Name = SessionName,
            NeverAskForName = NeverAskForName
        };
    }

    protected override async void OnAfterRender(bool firstRender)
    {
        await _confirmButton.FocusAsync();
    }

    private void OnOkPressed()
    {
        CloseModal(true);
    }

    private void OnCancelPressed()
    {
        CancelDialog();
    }

    private void OnNameClick()
    {
        NeverAskForName = !NeverAskForName;
    }
}
