<div class="session-title-bar flex-parent">
    <div class="page-title flex-child-text">
        <a class="@TitleClassString" @onclick="@OnRenameSession">
            <h1>@TitleString</h1>
        </a>
    </div>
    
    <FlexSpacer/>
    
    <div class="icons">
        <IconButton ClickActionAsync="@OnSaveClicked" Class="save-button" Disabled="@(!IsSaveable)">
            Save
        </IconButton>
        <IconButtonWithMenu ContextMenuId="@ContextMenuId.OPEN" Class="open-button" Disabled="@(!IsOpenable)">
            Open
        </IconButtonWithMenu>
        <IconButtonWithMenu ContextMenuId="@ContextMenuId.OPTIONS" IconOnly="@true" Class="options-button" Disabled="@(IsCurrent)">
            Options
        </IconButtonWithMenu>
    </div>
</div>

<hr/>

<div class="session-subtitle-bar flex-parent">
    <div class="session-subtitle flex-child-text">
        @Utils.GetVerb(SessionType) @TimeString
        <Spacer/>
        <span class="text-secondary">
            @Utils.GetTimeString(LastChange) ago
        </span>
    </div>
    <FlexSpacer/>
    <div class="session-counts">
        @Utils.Pluralize(WindowCount, "Window")
        <Spacer Width="0.25f"/>
        @Utils.Pluralize(TabCount, "Tab")
    </div>
</div>

<br/>

<ul class="window-list">
    @if (Windows is { Count: > 0 })
    {
        foreach (Window window in Windows)
        {
            <WindowTemplate Window="@window" WindowCloseAction="@OnCloseWindow" TabCloseAction="@OnCloseTab"/>
        }
    }
</ul>

@ChildContent

@code
{
    [Parameter]
    public string? Title { get; set; }
    
    [Parameter]
    public int WindowCount { get; set; }
    
    [Parameter]
    public int TabCount { get; set; }
    
    [Parameter]
    public DateTime LastChange { get; set; }
    
    [Parameter]
    public DateTime? Created { get; set; }
    
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    
    [Parameter]
    public List<Window> Windows { get; set; } = new();
    
    [Parameter]
    public SessionType SessionType { get; set; }
    
    private string TitleClassString => IsRenameable ? "clickonly" : "nostyle";
    
    private string TimeString => $"{LastChange:g}";

    private string TitleString => Title ?? SessionType switch 
    {
        SessionType.Current     => "Current Session",
        SessionType.Previous    => "Previous Session",
        _                       => "Unnamed session"
    };
    
    private bool IsRenameable => SessionType is SessionType.Saved;

    private bool IsSaveable => SessionType is not SessionType.Saved;
    
    private bool IsOpenable => SessionType is not SessionType.Current;

    private bool IsCurrent => SessionType is SessionType.Current;

    private int SessionId => SessionService.SelectedSessionId;
    
    protected override void OnInitialized()
    {
        if (SessionType is SessionType.Current && Windows is { Count: > 0 })
        {
            Windows[0].IsCurrentWindow = true;
            Windows[0].Title = "Current Window";
        }
    }
    
    private void OnCloseWindow(MouseEventArgs args, int windowId)
    {
        SessionService.CloseWindow(SessionId, windowId);
    }

    private void OnCloseTab(MouseEventArgs args, int windowId, int tabId)
    {
        SessionService.CloseTab(SessionId, windowId, tabId);
    }

    private async Task OnRenameSession(MouseEventArgs args)
    {
        await DialogService.ShowDialogAsync(DialogId.Rename);
    }

    private async Task OnSaveClicked(MouseEventArgs args)
    {
        if (await DialogService.ShowDialogAsync(DialogId.Save))
        {
            SessionService.SaveSession(-1);
        }
    }

    private void OnModalSubmit(bool success, object? result)
    {
        if (!success)
            return;
        
        switch (result)
        {
            case SaveModal.SaveSessionResult saveSessionResult:
            {
                SessionService.SaveCurrentSession(saveSessionResult.Name);
                InvokeAsync(StateHasChanged);
                return;
            }
            case RenameDialog.NameSessionResult nameSessionResult:
            {
                SessionService.RenameSession(SessionId, nameSessionResult.Name);
                InvokeAsync(StateHasChanged);
                return;
            }
        }
    }
}