<li class="window @Window.SelectedWindowClass">
    <div>
        <ClickableIcon IconClass="tab-close" Url="../img/xto.png" ClickAction="@OnWindowCloseClicked"/>
        <ButtonWithMenu Class="window-title highlight-accent" ContextMenuId="@ContextMenuId.WINDOW" Trigger="@Trigger">
            @Window.Title
        </ButtonWithMenu>
        <div class="window-counts">
            <Spacer/>
            <span class="text-secondary">
                @Utils.Pluralize(Window.TabCount, "tab")
            </span>
        </div>
    </div>
    <ul class="tab-list">
        @foreach (Tab tab in Window.Tabs)
        {
            <TabTemplate Tab="@tab" TabCloseAction="@OnTabCloseClicked"/>
        }
    </ul>
</li>

@code
{
    #region Parameters

    [Parameter]
    public required Window Window { get; init; }
    
    [Parameter]
    public required Action<MouseEventArgs, int> WindowCloseAction { get; set; }
    
    [Parameter]
    public required Action<MouseEventArgs, int, int> TabCloseAction { get; set; }

    #endregion

    #region Properties

    private MouseButtonTrigger Trigger => MouseButtonTrigger.Right | MouseButtonTrigger.DoubleClick;

    #endregion

    #region Event Handlers

    private void OnWindowCloseClicked(MouseEventArgs args)
    {
        WindowCloseAction(args, Window.Id);
    }
    
    private void OnTabCloseClicked(MouseEventArgs args, int tabId)
    {
        TabCloseAction(args, Window.Id, tabId);
    }

    #endregion
}